<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Waschmaschine</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    </head>
    <h1>Waschmaschine Straße des Friedens 36</h1>
    <h2>Infos</h2>
    <body>            
        <div class="InfoContainer">
            <div class="ValueContainer">
                <h3>Power</h3>
                <p><%= power %></p>
            </div>
            <div class="ValueContainer">
                <h3>Energy</h3>
                <p><%= energy %></p>
            </div>
            <div class="ValueContainer">
                <h3>Current</h3>
                <p><%= current %></p>
            </div>
            <div class="ValueContainer">
                <h3>Voltage</h3>
                <p><%= voltage %></p>
            </div>
            <div class="ValueContainer">
                <h3>Laufzeit</h3>
                <p><%= uptime %></p>
            </div>
            <br>
            <button type="button"
            class= <% if(deviceIsOn){ %>
                buttonOff
                <% }else { %>
                buttonOn
                <% } %>
                >
                <% if(deviceIsOn){ %>
                    <p>Turn off </p>
                <% } else{ %>
                    <p>Turn on </p>
                <% } %>
            </button>
        </div>
        <br>
        <h2>Waschgang eintragen</h2>
        <div class="InfoContainer">
            <form name="Waschgangstart">
                <label for="programField">Programm </label>
                <input type="text" id="programField" list="programValues">
                    <datalist id="programValues">
                        <%for ( let i = 0; i < programs.length; ++i ) { %>
                            <option value= <%= programs[i]%> />
                        <% } %>
                    </datalist><br><br>
                <label for="gradField">Temperatur </label>
                <input type="text" id="gradField" list="gradValues">
                    <datalist id="gradValues">
                        <%for ( let i = 0; i < degrees.length; ++i ) { %>
                            <option value=<%= String(degrees[i])%> />
                        <% } %>
                    </datalist><br><br>
                <label for="rotationField">Schleuderdrehzahl </label>
                <input type="text" id="rotationField" list="rotationValues">
                    <datalist id="rotationValues">
                        <%for ( let i = 0; i < rotations.length; ++i ) { %>
                            <option value=<%= String(rotations[i])%> />
                        <% } %>
                    </datalist><br><br>

                <input type="Submit" text="Waschgang eintragen">
            </form>
        </div> 
    </body>
</html>